{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
    <select name="hotels">

      {% for hotel in hotels %}
        <option>{{ hotel.name }}</option>
      {% endfor %}

    </select>

    <select name = "restaurants">

       {% for restaurant in restaurants %}
        <option>{{ restaurant.name }}</option>
      {% endfor %}

    </select>

    <select name = "activities">

       {% for activitie in activities %}
        <option>{{ activitie.name }}</option>
      {% endfor %}

    </select>


</div>
{% endblock %}
