#map-canvas {
  width: 100%;
  height: 400px;
  }

img {
  height: 50px; }

.row {
  display: block; }

.col-md-6 {
  display: inline-block; }
  .col-md-6 select {
    float: left; }

.container {
	padding: 0;
	width: 100%;
}

/*navigation bar stuff*/

.navbar-xs { 
	width: 100%; 
} 

.navbar {
	width: 100%;
	margin-bottom: 0;
}

.navbar-nav {
	float:right;
	font-size: 15px;
}
.nav_span {
	margin-left: 5px;
}
.navbar-xs .navbar-brand{ 
	padding: 16px 10px 8px;
	font-size: 30px;
	line-height: 14px; 
} 

.navbar-xs .navbar-nav > li > a { 
	border-right:1px 
	solid #ddd; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	}

	
@media (min-width: 768px) {
.navbar-nav {
	float: right;
	margin-top:10px;
		}
}