#map {
  width: 100%;
  height: 300px;
  background-color: gray; }

.row {
  display: block;
}

.col-md-6 {
  display: block;
  select {
    float: right;
  }
}

select {
    /* only works in webkit-compatible browsers */
    -webkit-appearance: menulist-button;
}

// .col-md-6 > * {
//   float: left;
// }
